$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$background-color: #ffffff;
$background-color-img: #e5e5e5;
$background-color-team: #f5f4fa;
$background-color-focus: #2196f3;
$text-color: #757575;
$text-color-white: #ffffff;
$text-color-title: #212121;
